[data-edit-input]:hover{ cursor:pointer}
td{width:25%; position:relative;}
.disabled{cursor:not-allowed;}
.dataedit::before{
content:'';
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
z-index: 1;
pointer-events: auto;
-webkit-tap-highlight-color: transparent;
background: rgba(0,0,0,.288);
-webkit-transition: background 1s ease-in;
-ms-transition: background 1s ease-in;
transition: background 1s ease-in;
}
.dataedit input{position:absolute;z-index:2;    top: 0;
bottom: 0;
left: 0;
right: 0;}
