[data-edit-input]:hover{ cursor:pointer}
td{ position:relative;}
.disabled{cursor:not-allowed;}
.dataedit::before{
content:'';
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
z-index: 1;
pointer-events: auto;
-webkit-tap-highlight-color: transparent;
background: rgba(0,0,0,.288);
-webkit-transition: background 1s ease-in;
-ms-transition: background 1s ease-in;
transition: background 1s ease-in;
}
.dataedit input{position:absolute;z-index:2;    top: 0;
bottom: 0;
left: 0;
right: 0;}

.input-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
